@media only screen and (max-width: 600px) {
  a {
    color: gray;
  }
}

#welcome-section {
  height: 100vh;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242527;
  color: white;
 
  text-align: center;
}

#welcome-section h1 {
  font-weight: bold;
  font-size: 60px !important;
  text-align: center;
}

#welcome-section span {
  display: block;
  color: rgb(216, 93, 93);
  font-weight: 100;
  font-style: italic;
  font-size: 25px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
}

#navbar a {
  display: inline-block;
  color: white !important;
  text-decoration: none;
  font-size: 24px;
}

#navbar a:hover {
  background-color: rgb(76, 76, 76);
}

#projects h1 {
  font-weight: bold;
  font-size: 40px !important;
  text-align: center;
  color: white;
  text-decoration: solid;
  padding: 20px 10px;
}

#projects {
  background-color: #45567D;
}


.project-tile a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px;
}

.project-tile a  p {
  text-align: center;
}

.project-tile {
  width: 30%;
  background-color: #45567D;
}

.project-tile img {
  width: 100%;
}

#projects-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#profile-link {
  display: inline-block !important;
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
}

#contact h1 {
  font-size: 70px;
}

#contact span {
  font-weight: 100;
  font-style: italic;
  font-size: 18px;
}

.socialmedia {
  display: flex;
  flex-wrap: wrap;
}

.socialmedia a {
  display: block;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s ease-in-out all;
  text-decoration: none;
  color: white;
  padding: 15px 10px;
}

.socialmedia a:hover {
  transform: translateY(20px);
}

footer {
  padding: 30px 5px;
  display: block;
  background-color: #000000;
  border-top: red solid 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
}